-r api-gateway/requirements.txt
-r member-service/requirements.txt
-r cooperative-service/requirements.txt
-r contribution-service/requirements.txt
-r withdrawal-service/requirements.txt
-r notification-service/requirements.txt
